* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

#clock {
  text-align: center;
  position: relative;
  top: 50%;
  font-family: 'Redressed', cursive;
  font-size: 120px;
  margin-top: -70px;
}
